:root {
  --black: 0, 0, 0;
}

html {
  min-height: 100vh;
  min-height: 100dvh;
  height: 100vh;
  height: 100dvh;
  font-family: 'Arial', sans-serif;
  font-size: min(2.03562340967vw, 1.1976047904vh);
  color: rgb(var(--black));
}

@media screen and (min-width: 1024px) {
  html {
    font-size: min(0.9375vw, 1.7391304348vh);
    letter-spacing: -0.01em;
  }
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  height: 100vh;
  height: 100dvh;
  display: grid;
  grid-template-rows: 1fr;
}

body > * {
  min-height: 0;
  min-width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  line-height: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1600vw;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .small-hide {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .medium-up-hide {
    display: none;
  }
}

.italic {
  font-style: italic;
}

@media screen and (min-width: 1024px) {
  .text-small {
    font-size: 0.7264vw;
  }

  .text-smaller {
    font-size: 0.6457vw;
  }

  .text-smallest {
    font-size: 0.4843vw;
  }
}

.l-spacing-2-minus {
  letter-spacing: -0.02em;
}

.l-spacing-4-minus {
  letter-spacing: -0.04em;
}

.color-gray {
  color: rgba(var(--black), 0.6);
}
